.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Display items in a column */
  height: 500px;
  overflow-x: hidden;  
}

.login-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form items horizontally */
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

.login-button {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #888;
}

.error-message {
  color: red;
}

.register-link {
  margin-top: 10px;
}
